.comment-icon {
    display: inline-block;
    position: relative;
    top: rem(2);
    margin-right: rem(1);
    fill: $primary-color;
    transition: fill #{$anchor-transition};
}

a:hover .comment-icon {
    fill: $secondary-color;
}


article.teaser {
    h1 {
        font-size: rem(30);
    }
    h2 {
        font-size: rem(27);
    }
    footer {
        font-size: rem(14);
    }
}


.author-image {
    margin: rem(0 8 8 0);
    border-radius: $global-radius;
}


ul.social-sharing {
    margin: 0;
    
    li {
        display: inline-block;
        background: #888;
        
        a {
            display: block;
            padding: rem(4 12);
            color: #fff;
            font-weight: $font-weight-bold;
            transition: background-color $anchor-transition;
            
            &:hover {
                background-color: rgba(#fff, .2);
            }
        }
        
        svg {
            fill: #fff;
            position: relative;
            top: rem(4);
            margin-right: rem(4);
            width: rem(18);
            height: rem(18);
        }
        
        &.facebook {
            background-color: $facebook;
        }
        
        &.googleplus {
            background-color: $googleplus;
        }
        
        &.twitter {
            background-color: $twitter;
        }
        
        &.pinterest {
            background-color: $pinterest;
        }
    }
}