.comment-icon {
    display: inline-block;
    position: relative;
    top: rem(2);
    margin-right: rem(1);
    fill: $primary-color;
    transition: fill #{$anchor-transition};
}

a:hover .comment-icon {
    fill: $secondary-color;
}


article.teaser {
    h1 {
        font-size: rem(30);
    }
    h2 {
        font-size: rem(27);
    }
    .link-icon {
        display: inline-block;
        fill: #999;
        width: rem(24);
        height: rem(24);
        margin-left: rem(-32);
        position: relative;
        left: rem(2);
    }
    footer {
        margin-top: rem(16);
        font-size: rem(14);
    }

  a {
    z-index: 1;
    position: relative;
  }
  .clickable-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}


.author-image {
    margin: -3px 0.5rem 0.5rem 0;
    border-radius: 0.1875rem;
    width: 44px;
    height: 44px;
    position: relative;
    top: 6px;
}


ul.social-sharing {
    margin: 0;
    
    li {
        display: inline-block;
        background: #888;
        
        a {
            display: block;
            padding: rem(4 12);
            color: #fff;
            font-weight: $font-weight-bold;
            transition: background-color $anchor-transition;
            
            &:hover {
                background-color: rgba(#fff, .2);
            }
        }
        
        svg {
            fill: #fff;
            position: relative;
            top: rem(4);
            margin-right: rem(4);
            width: rem(18);
            height: rem(18);
        }
        
        &.facebook {
            background-color: $facebook;
        }
        
        &.googleplus {
            background-color: $googleplus;
        }
        
        &.twitter {
            background-color: $twitter;
        }
        
        &.pinterest {
            background-color: $pinterest;
        }
    }
}
