.comment-icon {
    display: inline-block;
    position: relative;
    top: rem(2);
    margin-right: rem(1);
    fill: $primary-color;
    transition: fill #{$anchor-transition};
}

a:hover .comment-icon {
    fill: $secondary-color;
}


article footer {
    font-size: rem(14);
}