/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *	Atom Styles
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	.no-margin {
		margin: 0 !important;
	}
	
	.no-margin-top {
		margin-top: 0 !important;
	}
	
	.no-margin-bottom {
		margin-bottom: 0 !important;
	}
	
	.no-padding {
		padding: 0 !important;
	}
	
	.extra-small-padding-bottom {
		padding-bottom: rem(32) !important;
	}
	
	.extra-padding-bottom {
		padding-bottom: rem(48) !important;
	}
	
	.extra-large-padding-bottom {
		padding-bottom: rem(72) !important;
	}
	
	.extra-small-padding-top {
		padding-top: rem(32);
	}
	
	.extra-padding-top {
		padding-top: rem(48) !important;
	}
	
	.extra-large-padding-top {
		padding-top: rem(72) !important;
	}
	
	.extended-with {
    	margin-left: -#{$column-gutter / 2};
    	margin-right: -#{$column-gutter / 2};
	}
	
	.flex-video {
    	background: $lightgray;
	}
	
	
	.hide-element {
		display: none;
	}
	
	.fullwidth {
		display: block;
		width: 100%;
		max-width: none;
	}
	
	iframe {
		max-width: 100%;
	}
	
	.forward-link:after {
		content: " »";
	}
	
	table {
		width: 100%;
	}
	
	
	.primary-bg {
		background-color: $primary-color !important;
	}
	.secondary-bg {
		background-color: $primary-color !important;
	}
	.gray-bg {
		background-color: $gray-color !important;
	}
	.white-bg {
		background-color: #fff !important;
	}
