/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *	Grid
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	.row {
		position: relative;
	}
	
	@media #{$small-up} {
		.small-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	@media #{$medium-up} {
		.medium-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	@media #{$large-up} {
		.large-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	@media #{$xlarge-up} {
		.xlarge-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}



// - - - - - - - - - - - - - - - - - - - - - - - - -
//  Flexgrid
// - - - - - - - - - - - - - - - - - - - - - - - - -

.flexgrid {
    > * {
        float: none;
        border-bottom: 1px solid $lightgray;
        border-left: 1px solid $lightgray;
        
        > *:first-child {
            margin-top: #{$column-gutter/2};
        }
        > *:last-child {
            margin-bottom: #{$column-gutter/2};
        }
    }
    
    > .fixed {
        position: absolute;
        top: 0;
        right: 0;
        background: $blue;
        
        *, a {
            color: #fff;
        }
        
        a:hover {
            color: $orange;
        }
    }
}