/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *	Grid
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	.row {
		position: relative;
	}
	
	@media #{$small-up} {
		.small-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	@media #{$medium-up} {
		.medium-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	@media #{$large-up} {
		.large-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	@media #{$xlarge-up} {
		.xlarge-vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
    
    
    .row .row.small-gutter {
        margin-left: ($small-column-gutter / 2 * -1);
        margin-right: ($small-column-gutter / 2 * -1);
    }
    .row.small-gutter {
        > .column, > .columns {
            padding-left: ($small-column-gutter / 2);
            padding-right: ($small-column-gutter / 2);
        }
    }
    
    .row .row.medium-gutter {
        margin-left: ($medium-column-gutter / 2 * -1);
        margin-right: ($medium-column-gutter / 2 * -1);
    }
    .row.medium-gutter {
        > .column, > .columns {
            padding-left: ($medium-column-gutter / 2);
            padding-right: ($medium-column-gutter / 2);
        }
    }    

    
    .default-article-width {
        max-width: rem(725);
    }
    

// - - - - - - - - - - - - - - - - - - - - - - - - -
//  Flexgrid
// - - - - - - - - - - - - - - - - - - - - - - - - -

.flexgrid {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px rem(0 16);
    border-bottom: 1px solid $lightgray;
    
    > * {
        width: 100%;
        float: none;
        border-top: 1px solid $lightgray;
        padding-left: ($large-column-gutter / 2);
        padding-right: ($large-column-gutter / 2);
        
        
        > *:first-child {
            margin-top: #{$large-column-gutter/2};
        }
        > *:last-child, footer {
            margin-bottom: #{$large-column-gutter/2};
        }
    }
    
    > .fixed {
        padding-bottom: 1px;
        background: $blue;
        
        *, a {
            color: #fff;
        }
        
        a:hover, a:focus {
            color: $orange;
        }
    }
}

html.js .flexgrid {
    > *{
        @media #{$medium-up} {
            width: 50%;
        }
        
        @media #{$large-up} {
            width: 33.33333%;
        }
    }
    
    > .fixed {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    
    @media #{$medium-up} {
        &:before {
            z-index: 1;
            content: "";
            display: block;
            background: $lightgray;
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 1px;
            margin-left: -1px;
        }
    }
    
    @media #{$large-up} {
        &:before, &:after {
            z-index: 1;
            content: "";
            display: block;
            background: $lightgray;
            position: absolute;
            left: 33.33333%;
            top: 0;
            bottom: 0;
            width: 1px;
            margin-left: -1px;
        }
        
        &:after {
            left: 66.66666%;
        }
    }
}