.pageheader {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(90);
    background: $blue;
    
    @media #{$medium-up} {
        position: fixed;
    }
    
    @media #{$large-up} {
        width: rem(90);
        height: 100%;
    }
}

h1#logo {
    display: inline-block;
    width: rem(90);
    margin: 0;
    background: $blue;
    
    a {
        display: block;
    }
    
    svg {
        display: block;
        width: rem(90);
        height: rem(90);
        padding: rem(12);
        * {
            fill: #fff;
        }
    }
}

.off-canvas-toggle {
    display: inline-block;
    float: right;
    width: rem(90);
    transition: background-color #{$anchor-transition};
    
    @media #{$large-up} {
        float: none;
    }
    
    svg {
        display: block;
        width: rem(90);
        height: rem(90);
        margin: 0 auto;
        padding: rem(30);
        fill: rgba(#fff, .9);
        transition: fill #{$anchor-transition};
    }
    
    &:hover {
        background: rgba(#fff,.05);
        svg {
            fill: $orange;
        }
    }
    
    span {
        display: none;
        color: #fff;
        font-weight: $font-weight-normal;
        text-align: center;
        font-size: rem(10);
        text-transform: uppercase;
    }
}