.extras-feed {
  .show-changelog {
    float: right;
  }
  .changelog {
    display: none;

    background-color: rgba(0,0,0,0.02);
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: 1rem;

    ul {
      margin-bottom: 1rem;
    }

    .close-changelog {
      float: right;
      padding: 0 0.5em;
      margin: -0.5em;
      font-size: 2em;
    }
  }
}