// - - - - - - - - - - - - - - - - - - - - - - - - -
//  Teasers
// - - - - - - - - - - - - - - - - - - - - - - - - -

    .teaser-grid{
        .teaser{
            margin-bottom: rem(25);
            .teaser__media {
                float: left;
                width: 30%;
                @media #{$large-up} {
                    float: none;
                    width: auto;
                }
            }
            
            .teaser__content {
                float: left;
                width: 65%;
                padding-left: 5%;
                
                @media #{$large-up} {
                    float: none;
                    width: auto;
                    padding-left: 0;
                }
                
                .teaser__details,.teaser__details:visited {
                    color: $body-font-color;
                    font-weight: $font-weight-normal;
                    font-size: $small-font-size;
                }
                
                .teaser__title {
                    margin: 0;
                    font-size: rem(14);
                }
            }
            
            &:hover {
                .teaser__title {
                    color: darken($primary-color, 15%);
                }
            }
        }
    }
