/**
 *  _template.scss
 *  Contains all basic elements of the templates
 */




// - - - - - - - - - - - - - - - - - - - - - - - - -
//  Basic Styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

    html, body {
        height: auto;
        min-height: 100%;
        max-width: 100%;
    }
    
    body {
        -webkit-font-smoothing: $font-smoothing;
        -moz-osx-font-smoothing: grayscale;
        font-size: $paragraph-font-size;
    }
    
    .off-canvas-wrap, .off-canvas-wrap.move-right, .off-canvas-wrap.move-left, .inner-wrap {
        min-height: 100vh;
    }
    
    .pagewrapper {
        z-index: 1;
        width: 100%;
        padding-top: rem(90);
        
        @media #{$large-up} {
            padding-top: 0;
            padding-left: rem(90);
        }
    }


@media #{$medium-only} {
    a.exit-off-canvas {
        top: rem(90) !important;
    }
}

@media #{$large-up} {
    a.exit-off-canvas {
        left: rem(90) !important;
    }
}



// - - - - - - - - - - - - - - - - - - - - - - - - -
//  Figure
// - - - - - - - - - - - - - - - - - - - - - - - - -

    figure {
        margin: $column-gutter 0;
        
        img {
            width: 100%;
        }
        
        figcaption {
            padding: ($column-gutter / 2) 0;
            text-align: center;
            
            .figure__source {
                display: block;
                font-size: rem(11);
                text-align:right;
            }
        }
    }