/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *	Typography
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	
	h1,h2,h3,h4,h5,h6 {
    	-webkit-font-variant-ligatures: common-ligatures; 
        font-variant-ligatures: common-ligatures;
        -moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
        -webkit-font-feature-settings: "kern";
        -moz-font-feature-settings: "kern"; /* Firefox 14+ */
        font-feature-settings: "kern"; /* standard */
        font-kerning: normal;

		small {
			display: block;
			margin-bottom: rem(8);
			line-height: inherit;
			font-size: 50%;
			font-weight: $font-weight-normal;
			color: $small-font-color;
		}
		
		&.small-top-margin {
			margin-top: rem(16);
		}
		
		a {
    		font-weight: $font-weight-bold;
		}
	}
	
	h1 {
    	margin-top: #{$large-column-gutter};
        margin-bottom: rem(20);
	}
		
	a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: color #{$anchor-transition};
		font-weight: $font-weight-semibold;
		
		&:hover, &:focus {
			outline: none;
		}

		&::-moz-focus-inner {
			border: 0 !important;
		}
	}
	
	small {
		color: $small-font-color;
		a {
			color: scale-color($small-font-color, $lightness: -15%);
		}
	}
	
	.introtext {
    	font-weight: $font-weight-bold;
	}
	
	.large-font {
		font-size: rem(24);
		@media #{$medium-up} {
			font-size: rem(32);
		}
	}
	
	.xxlarge-font {
		font-size: rem(40);
		@media #{$medium-up} {
			font-size: rem(72);
		}
	}
	
	.bold {
		font-weight: $font-weight-bold !important;
	}
	
	.primarytext {
		color: $primary-color !important;
	}
	
	.secondarytext {
		color: $secondary-color !important;
	}
	
	.graytext {
		color: $gray-color !important;
	}
	
	.bodytext {
		color: $body-font-color !important;
	}
	
	.whitetext {
		color: #fff !important;
	}


    blockquote {
        p {
            text-rendering: optimizeLegibility;
            -webkit-font-variant-ligatures: common-ligatures; 
            font-variant-ligatures: common-ligatures;
            font-size: rem(20);
            font-family: $header-font-family;
            font-style: italic;
        }
        
        cite {
            text-align: right;
        }
    }