@charset "UTF-8";

// normalize.css
@import "../bower_components/modularized-normalize-scss/normalize";

// project settings
@import "_settings.scss";


// Foundation components
@import "../bower_components/foundation/scss/foundation/components/grid";
//@import "../bower_components/foundation/scss/foundation/components/accordion";
//@import "../bower_components/foundation/scss/foundation/components/alert-boxes";
//@import "../bower_components/foundation/scss/foundation/components/block-grid";
//@import "../bower_components/foundation/scss/foundation/components/breadcrumbs";
//@import "../bower_components/foundation/scss/foundation/components/button-groups";
//@import "../bower_components/foundation/scss/foundation/components/buttons";
//@import "../bower_components/foundation/scss/foundation/components/clearing";
//@import "../bower_components/foundation/scss/foundation/components/dropdown";
//@import "../bower_components/foundation/scss/foundation/components/dropdown-buttons";
@import "../bower_components/foundation/scss/foundation/components/flex-video";
@import "../bower_components/foundation/scss/foundation/components/forms";
//@import "../bower_components/foundation/scss/foundation/components/icon-bar";
//@import "../bower_components/foundation/scss/foundation/components/inline-lists";
//@import "../bower_components/foundation/scss/foundation/components/joyride";
//@import "../bower_components/foundation/scss/foundation/components/keystrokes";
//@import "../bower_components/foundation/scss/foundation/components/labels";
//@import "../bower_components/foundation/scss/foundation/components/magellan";
//@import "../bower_components/foundation/scss/foundation/components/orbit";
@import "../bower_components/foundation/scss/foundation/components/pagination";
//@import "../bower_components/foundation/scss/foundation/components/panels";
//@import "../bower_components/foundation/scss/foundation/components/pricing-tables";
//@import "../bower_components/foundation/scss/foundation/components/progress-bars";
//@import "../bower_components/foundation/scss/foundation/components/range-slider";
@import "../bower_components/foundation/scss/foundation/components/reveal";
//@import "../bower_components/foundation/scss/foundation/components/side-nav";
//@import "../bower_components/foundation/scss/foundation/components/split-buttons";
//@import "../bower_components/foundation/scss/foundation/components/sub-nav";
//@import "../bower_components/foundation/scss/foundation/components/switches";
//@import "../bower_components/foundation/scss/foundation/components/tables";
//@import "../bower_components/foundation/scss/foundation/components/tabs";
//@import "../bower_components/foundation/scss/foundation/components/thumbs";
//@import "../bower_components/foundation/scss/foundation/components/tooltips";
//@import "../bower_components/foundation/scss/foundation/components/top-bar";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/offcanvas";
@import "../bower_components/foundation/scss/foundation/components/visibility";


//	/!\ disable icon-font loading in slick.scss !!!
$slick-font-family: 'foo';
@import "../bower_components/slick.js/slick/slick.scss";
@import "../bower_components/slick.js/slick/slick-theme.scss";
@import "_slider.scss";


// Atoms
@import "_typography.scss";	
@import "_atoms.scss";

// Basics
@import "_grid.scss";
@import "_template.scss";

// Template Areas
@import "_header.scss";
@import "_breadcrumb.scss";
@import "_footer.scss";

// Components
@import "_form.scss";
@import "_articles.scss";
@import "_prism.scss";

// show content
.pagecontent > * {
	opacity: 1;
}

// show offcanvas
.off-canvas-menu {
    display: block;
}