// project settings
@import "_settings.scss";

// ink.css
@import "_ink.scss";

//@import url(http://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab:400,700);

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 700;
    color: $primary-color;
    margin: 32px 0 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    small {
        display: block;
        font-family: $header-font-family;
        font-size: 50%;
        color: $small-font-color;
        font-weight: 400;
        
        &.week {
            display: inline;
            color: #fff;
            padding-left: 10px;
        }
    }
    
    a, a:visited {
        color: $primary-color !important;
    }
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}


body, p {
    font-family: $body-font-family;
    font-size: 16px;
    line-height: 1.6;
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 16px;
}

img {
    float:none;
}

a, a:visited {
    color: $primary-color !important;
}

.blue-banner {
    background: $primary-color;
    
    h1 {
        color: #fff;
        margin: 0 0 2px;
    }
}

.content-wrapper {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-container {
    border-top: 1px solid #ddd;
}

.footer {
    text-align: center;
    
    p {
        text-align: center;
        font-size: 14px;
        color: #777;
    }
}